<h1><%= @skillTitle %></h1>
<%= render "layouts/optionsTable" %>
<%= render "layouts/optionsSummary" %>
<%= render "layouts/savePlan" %>

<script>
  var options = <%= raw @options %>;
  var skillName = '<%= raw @skillName %>';
  var existing = <%= defined?(@existing) ? (raw @existing) : 'false' %>;
</script>